# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

[*]
indent_style = tab
# Explicitly specifying indent_size because GitHub respects it when viewing source files on the web.
indent_size = 4
end_of_line = lf

[*.{c,cc,cpp,h,hh,hpp}]
file_header_template = (c) Jarrett Wendt 2020

[*.xml]

[*.json]
